<nav class="navbar navbar-light bg-light px-3 d-flex justify-content-between">
  <span class="navbar-brand mb-0 h1">🐾 Pet Shop</span>

  <div class="d-flex align-items-center gap-2">
    <span *ngIf="currentUser" class="me-2">
      👋 Welcome, {{ currentUser.fullName }}
    </span>

    <a class="btn btn-outline-primary" [routerLink]="['/']">Home</a>
    <a class="btn btn-outline-info" [routerLink]="['/profile']">Profile</a>
    <a class="btn btn-outline-secondary" [routerLink]="['/cart']">Cart</a>

    <button
      *ngIf="currentUser"
      class="btn btn-outline-danger ms-2"
      (click)="logout()"
    >
      Logout
    </button>

    <a
      *ngIf="!currentUser"
      class="btn btn-outline-primary"
      [routerLink]="['auth-login']"
    >
      Login
    </a>
    <a
      *ngIf="!currentUser"
      class="btn btn-outline-success ms-2"
      [routerLink]="['auth-register']"
    >
      Register
    </a>
  </div>
</nav>


<router-outlet></router-outlet>

<!-- Chatbot fixed at bottom right -->
<div
  style="
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 300px;
    z-index: 1000;
  "
>
  <app-chatbot></app-chatbot>
</div>
